---
layout: default
---

<main class="">
  <section class="cf wi-100 mtl">
    <div class="fl wi-100 wi-50-ns">
      {% for post in site.posts limit: 1 %}
      <article class="pbl mbl">
        <div class="fn wi-100 fl-l plm-ns pln-xl">
          <a class="dim link" href="{{site.url}}/{{post.url}}">
            <img src="img/{{post.imgsrc}}" class="db">
          </a>
        </div>
        <div class="fn wi-100 fl-l">
          <h1 class="f2-l mtm mtl-xl phm phn-xl">
            <a class="link" href="{{site.url}}/{{post.url}}">
              <small class="db small gray fw4 ttu">Notes from</small>
              <time>{{ post.date | date_to_long_string }}</time>
            </a>
          </h1>
          <div class="phm phn-xl f5 f3-ns serif lh-copy">
            {{ post.content }}
          </div>
        </div>
      </article>
      {% endfor %}
    </div>
    <div class="fl wi-100 wi-50-ns plm prm pll-ns prn-ns">
      <h1 class="mtn ttu small f2-ns">Past Notes</h1>
      {% for post in site.posts limit: 5 offset: 1 %}
      <article class="fl wi-100 pvm pvm-ns bt b--near-white">
        <a href="{{post.url}}" class="link dim db">
          <div class="fl wi-20">
            <img src="img/thumb/{{post.imgsrc}}" class="db wi-100">
          </div>
          <div class="fl wi-80 phm">
            <time>{{ post.date | date_to_long_string }}</time>
            {% if post.description %}
            <p class="lh-copy serif mtxs mbn-ns small f4-xl">{{ post.description }}</p>
            <small class="db red">Read more </small>
            {% endif %}
          </div>
        </a>
      </article>
      {% endfor %}
    </div>
  </section>

    <section class="mtl ptl bt b--near-white">
      <div>
        <h1 class="fw4 f5 ttu tc tl-l phm phn-xl mbm">Visit the Store</h1>
        <ul class="dt mvn mln pln wi-100">
          {% for post in site.posts limit: 20 %}
            {% if post.buylink %}
            <li class="dtc">
              <a href="{{ post.buylink }}" class="dim db">
                <img src="{{site.url}}/img/thumb/{{ post.imgsrc }}" class="db">
              </a>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </section>
</main>
