---
layout: default
---

<main>
  <article>
    {% for post in site.posts limit: 1 %}
        <div>
          <img src="img/{{post.imgsrc}}">
        </div>
        <div class="phm phn-ns">
          {{ post.content }}
        </div>
    {% endfor %}
  </article>
</main>
<section>
  <article>
    <ul>
      {% for post in paginator.posts %}
        <li>
          <a href="{{ post.url }}" title="{{post.title}}">
            <span>{{ post.postDate }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </article>
</section>
