<footer class="center mw8 phm phn-ns mtx pbx">
  <ul class="list mln pln small ttu bt pvm bb b--near-white">
          <li class="dib">
            <a class="link prm pvm b" title="Home" href="{{site.url}}">Home</a>
          </li>
          <li class="dib">
            <a class="link pam b" title="Notes from the Tribe Online Store" href="http://store.notesfromthetribe.com">
              Store
            </a>
          </li>
          <li class="dib">
            <a class="link pam b" title="Art"   href="{{site.url}}/art">Art</a>
          </li>
          <li class="dib">
            <a class="link b pam b" title="About" href="{{site.url}}/about">About</a>
          </li>
  </ul>
  <div class="cf">
  <p class="f5 fl-ns wi-100 wi-25-ns">© 2015 William Deutsch</p>
  <ul class="db fn fr-ns f5 list mln pln">
      <li class="dib mrm"><a class="link" href="mailto:crydrawcry@gmail.com">crydrawcry@gmail.com</a></li>
      <li class="dib"><a class="link" href="tel:917.333.3333">917.333.3333</a></li>
  </ul>
</div>
  <small class="db mtl">
    The Six Points Fellowship for Emerging Jewish Artists is a program of the FJC,
    originally founded in partnership with Avoda Arts, and JDub, with significant
    funding from The Jewish Federation of Greater Los Angeles, the Jewish Community
    Foundation of Los Angeles, and the Righteous Persons Foundation.
  </small>
</footer>
