<footer class="center mw7 phm phn-ns mtx pvl bt b--near-white">
  <div class="cf">
  <p class="f5 fl">© 2015 William Deutsch</p>
  <ul class="db fn fr-ns f5 list mln pln">
      <li class="dib mrm"><a class="link" href="mailto:crydrawcry@gmail.com">crydrawcry@gmail.com</a></li>
      <li class="dib"><a class="link" href="tel:917.333.3333">917.333.3333</a></li>
  </ul>
</div>
  <small class="db">
    The Six Points Fellowship for Emerging Jewish Artists is a program of the FJC,
    originally founded in partnership with Avoda Arts, and JDub, with significant
    funding from The Jewish Federation of Greater Los Angeles, the Jewish Community
    Foundation of Los Angeles, and the Righteous Persons Foundation.
  </small>
</footer>
