<header class="bg-white reverse-dim">
  <div class="phm phm-l ptl pbm pbl-ns center mw7 mw8-m mw9-l cf bb b--near-white reverse-dim">
    <div class="fn fl-ns wi-50-ns">
      <h1 class="f2 f1-ns mega-xl mvn">
        <a href="/" title="Notes from the Tribe" class="link">Notes from the Tribe</a>
      </h1>
      <h2 class="fw4 f5 mvn">
        The art of Will Deutsch
      </h2>
    </div>
    <nav class="fn fr-ns wi-50-ns tr-ns">
      <div>
        <ul class="list pln mln f5 f2-l tr-ns">
          <li class="dib">
            <a class="link light-yellow prm b" title="Home" href="{{site.url}}">Home</a>
          </li>
          <li class="dib">
            <a class="link light-yellow prm b" title="Notes from the Tribe Online Store" href="http://store.notesfromthetribe.com">
              Store
            </a>
          </li>
          <li class="dib">
            <a class="link light-yellow prm b" title="Art"   href="{{site.url}}/art">Art</a>
          </li>
          <li class="dib">
            <a class="link light-yellow b" title="About" href="{{site.url}}/about">About</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
