<header class="bg-near-white">
  <div class="phm phn-ns pvl center mw6 bb b--near-white">
    <h1 class="f4 ttu db mrm mtn">
      <a href="/" title="Notes from the Tribe" class="link">Notes from the Tribe</a>
    </h1>
    <h2 class="thin f5 mvn">
      The art of Will Deutsch
    </h2>
    <nav class="mtl">
      <div>
        <ul class="list pln mln f3">
          <li class="dib">
            <a class="link prm b" title="Home"  href="{{site.url}}">Home</a>
          </li>
          <li class="dib">
            <a class="link prm b" title="Notes from the Tribe Online Store" href="http://store.notesfromthetribe.com">
              Store
            </a>
          </li>
          <li class="dib">
            <a class="link prm b" title="Art"   href="{{site.url}}/art">Art</a>
          </li>
          <li class="dib">
            <a class="link prm b" title="About" href="{{site.url}}/about">About</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
