<header class="bg-white reverse-dim">
  <div class="ph3 ph4-l ph0-xl pt4 pb3 pb4-ns center mw7 mw8-m mw9-l cf bb b--near-white reverse-dim">
    <div class="fn fl-ns w-50-ns">
      <h1 class="f4 f3-m f2-l mv0">
        <a href="/" title="Notes from the Tribe" class="red link dim db">Notes from the Tribe</a>
      </h1>
      <h2 class="fw4 f6 mv0 pt1 black-60">
        The art of Will Deutsch
      </h2>
    </div>
    <nav class="fn fr-ns w-100 w-50-ns tr-ns">
      <div>
        <ul class="list-reset pl0 ml0 mv0 pv3 f6 f5-l tr-ns">
          <li class="dib">
            <a class="black link dim pr3 fw6" title="Home" href="{{site.url}}">Home</a>
          </li>
          <li class="dib">
            <a class="black link dim pr3 fw6" title="Notes from the Tribe Online Store" href="http://store.notesfromthetribe.com">
              Store
            </a>
          </li>
          <li class="dib">
            <a class="black link dim pr3 fw6" title="Art"   href="{{site.url}}/art">Art</a>
          </li>
          <li class="dib">
            <a class="black link dim fw
              " title="About" href="{{site.url}}/about">About</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
