<!DOCTYPE html>
<html lang="en">
  {% include _head.html %}
  <body>
    {% include _nav.html %}
    <main class="center mw7">
      <img src="{{site.url}}/img/{{page.imgsrc}}" >
      <div class="phm phn-ns mtm">
        <span class="db small black">Notes from</span>
        <span class="b black f5 f2-ns"> {{ page.date | date_to_long_string }} </span>
        {{ content }}
        {% if page.buylink %}
          <p><a href="{{ page.buylink }}" class="link btn">Buy Print</a></p>
        {% endif %}
      </div>
    </main>
    {% include _footer.html %}
  </body>
</html>
